<div style="padding: 13px">
  <!-- <mat-spinner *ngIf="items.length === 0"></mat-spinner> -->
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      [formControl]="startDate"
      (ngModelChange)="refresh()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="">
    <input matInput placeholder="Page size" [(ngModel)]="pageSize" type="number" (change)="refresh()">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Page</mat-label>
    <mat-select [(ngModel)]="page" (selectionChange)="refresh()">
      <mat-option *ngFor="let pg of this.pageRange" [value]="pg">
        {{pg}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="categoryId" (selectionChange)="refresh()">
        <mat-option>
        </mat-option>
    <ng-container *ngIf="this.categories?.length > 0" >
        <mat-option *ngFor="let category of this.categories" [value]="category.id">
            {{category.title}}
          </mat-option>
    </ng-container>

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tag</mat-label>
    <mat-select [(ngModel)]="tagId" (selectionChange)="refresh()">
        <mat-option>
        </mat-option> 
        <ng-container *ngIf="this.tags?.length > 0">
            <mat-option  *ngFor="let tag of this.tags" [value]="tag.id">
                {{tag.title}}
              </mat-option>
        </ng-container>

    </mat-select>
  </mat-form-field>
  <mat-card *ngFor="let event of events" style="margin-top: 10px">
    <mat-card-header>
      <mat-card-title>{{ event.title }}</mat-card-title>
      <mat-card-subtitle>{{ event.start_datetime }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ event.description_short }}
      </p>
      <p *ngIf="event.images?.length > 0">
        <img src="{{ event.images[0].sizes.small.url }}" />
      </p>
    </mat-card-content>
  </mat-card>
</div>
