<div style="padding: 13px">
  <!-- <mat-spinner *ngIf="items.length === 0"></mat-spinner> -->
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      [formControl]="startDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-card *ngFor="let event of events" style="margin-top: 10px">
    <mat-card-header>
      <mat-card-title>{{ event.title }}</mat-card-title>
      <mat-card-subtitle>{{ event.start_datetime }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ event.description_short }}
      </p>
      <p *ngIf="event.images?.length > 0">
        <img src="{{ event.images[0].sizes.small.url }}" />
      </p>
    </mat-card-content>
  </mat-card>
</div>
